.countries-list {
  padding-bottom: 1rem;
  margin-bottom: 10rem;
  margin-top: 2rem;
}

.countries-list .table-list {
  margin-bottom: 10rem;
  overflow: auto;
}

th.mat-sort-header-sorted {
  color: black;
}
.content-flag {
  margin: 1rem 1rem 1rem 0.7rem;
}
.fonts-description {
  font-size: 0.8rem;
}
.country-name {
  font-size: 0.8rem;
  font-weight: normal;
}
.flags {
  width: 4rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

table th.mat-column-cca2 {
  flex: 0 0 50px !important;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.pagination {
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
}
